h1 {
    font-family: 'Merriweather', serif;
}

.Flex-display {
    display: flex;
    margin-top: 20px;

}

.buttom-1 {
    background-color: rgb(92, 49, 49);
    color: white;
    border-radius: 5px;
    
}
.buttom-2 {
    float: right;
    margin-left: -50%;
    margin-top: 3%; 
    color: brown;  
}

.half-width {
    width: 50%;
}
.half-width img {
    width: 70%;
}

.h1-align {
    text-align: center;
}
.photo-zoom:hover{
    transform: scale(1.3);
    transition: transform 2s;
    
}
/* ----------------
collection style  
--------------------*/
.collection{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}
.new-collection .collection-photo img{
    width: 230px;
    height: 200px;
}
.fa-star {
    font-size: 12px;
}
.fa-star.filled{
    color: #FFC014
}
.rating{
    display: flex;
    align-items: center;
}
.box-1{
    border-image-slice: 1;
    margin-left: 10%;
    margin-right: 7%;
    padding-left: 25px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
}
.collection-photo{
    margin-top: 9%;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 100px;
}
.center-text{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.footer{
    background-color: rgba(31, 31, 34, 0.986);
    color: white;
    text-align: center;
}

@media only screen and (max-width: 688px) {
    .Flex-display{
        width: 350px;
        grid-template-columns: repeat(1, 1fr);
    }
    .h1-align{
        width: 300px;
    }
    .collection{
        width: 340px;
        grid-template-columns: repeat(1,1fr);
    }
    .buttom-2{
        width:460px;
    }
    .extra-work{
        width: 350px;
    }
    .footer{
        width: 300px;
    }

 }
 @media only screen and (min-width: 992px) {
    .Flex-display{
        width: 750px;
        grid-template-columns: repeat(1, 1fr);
    }
    .h1-align{
        width: 300px;
    }
    .collection{
        width: 650px;
        grid-template-columns: repeat(2,1fr);
    }
    .buttom-2{
        width:600px;
    }
    .extra-work{
        width:750px;
    }
    .footer{
        width: 700px;
    }


 }
