h1 {
    font-family: 'Merriweather', serif;
}

.Flex-display {
    display: flex;
    margin-top: 20px;

}

.buttom-1 {
    background-color: rgb(92, 49, 49);
    color: white;
    border-radius: 5px;
    
}
.buttom-2 {
    float: right;
    margin-left: -50%;
    margin-top: 3%; 
    color: brown;  
}

.half-width {
    width: 50%;
}
.half-width img {
    width: 50%;
}

.h1-align {
    text-align: center;
}
/* ----------------
collection style  
--------------------*/
.collection{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}
.new-collection .collection-photo img{
    width: 250px;
    height: 200px;
}
.fa-star {
    font-size: 12px;
}
.fa-star.filled{
    color: #FFC014
}
.rating{
    display: flex;
    align-items: center;
}
.box-1{
    border-image-slice: 1;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 25px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
}
.collection-photo{
    margin-top: 9%;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 100px;
}
.center-text{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
/*---------------
 media queries 
------------------ */
/*--------------
 Mobile Device  
 ----------------*/
 @media only screen and (max-width:688px) {
     .new-collection{
        
         grid-template-columns: repeat(1, 1fr);

     }
     
 }
