h1 {
    font-family: 'Merriweather', serif;
}

.Flex-display {
    display: flex;
    margin-top: 20px;

}

.buttom-1 {
    background-color: rgb(92, 49, 49);
    color: white;
    border-radius: 5px;
}

.half-width {
    width: 50%;
}

.half-width img {
    width: 60%;
}

.h1-align {
    text-align: center;
}
/* ----------------
collection style  
--------------------*/
.collection{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}
.new-collection .collection-photo img{
    width: 250px;
    height: 200px;
}
.fa-star {
    font-size: 12px;
}
.fa-star.filled{
    color: #FFC014
}
.rating{
    display: flex;
    align-items: center;
}
.box-1{
    border: 3px solid lightgrey;
    border-radius: 10px;
    justify-content: center;
}
